* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 100;
  
  overflow-x: hidden;
}
:root {
  --index: calc(1vh + 1vw);
  --color-text: whitesmoke;
  --color-highlight: #6E32EF;
  --color-hover: #ab8eea;
  --color-hover-highlight: #3b1885;
}
::selection {
  color: var(--color-text);
  background-color: var(--color-highlight);
}
body {
  background-color: black;
  color: var(--color-text);
  overflow-x: hidden;
}
.container {
  height: 100%;
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  display: flex;
  justify-content: space-between;
}
#hero {
  height: 75vh;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
a{
  text-decoration: none;
  color: var(--color-text);
}
.btn {
  color: var(--color-text);
  background-color: var(--color-highlight);
  border-radius: 10px;
  display: inline-block;
  padding: 15px 10px;
  border: 2px solid var(--color-highlight);
  transition: background-color 400ms ease-in-out, color 400ms ease-in-out, border 400ms ease-in-out;
}
.btn:hover {
  color:var(--color-hover);
  border: 2px solid var(--color-hover);
  background-color: var(--color-hover-highlight);
}
nav a{
  transition: color 400ms ease-in-out;
}
nav a:hover{
  color: var(--color-hover);
}
h1, h2, h3, h4, h5, h6 {
  font-size: calc(var(--index) * 2.9);
  font-weight: 700;
  max-width: 80%;
}
p {
  font-size: calc(var(--index) * 1);
  font-weight: 700;
  max-width: 80%;
}
span {
  color:var(--color-highlight);
}
video {
  position: absolute;
  top: 0;
  left: 0;
  height: 75vh;
  width: 100%;
  object-fit: cover;
  opacity: 30%;
  z-index: -1;
}
svg {
  text-align: center;
  font-weight: 800;
}
svg text{
  font-size: 2rem;
  stroke-width: 2;
}
svg text.textBody {
  stroke: var(--color-highlight);
  animation: 4s infinite alternate animateStroke;
}
@keyframes animateStroke {
  0% {
    fill: transparent;
    stroke: var(--color-highlight);
    stroke-width: 2;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }
  50% {
    fill: transparent;
    stroke: var(--color-highlight);
    stroke-width: 2;
  }
  80%, 100% {
    fill: var(--color-highlight);
    stroke: var(--color-highlight);
    stroke-width: 2;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}
.experienceLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding-bottom: calc(var(--index) * 1);
}
.experienceLeft h1, p{
  max-width: 55%;
}
.experienceRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  padding-bottom: calc(var(--index) * 1);
}
.experienceRight h1, p{
  max-width: 55%;
}
#examplesTrack {
  display: flex;
  position: absolute;
  padding-left: calc(var(--index) * 12);
  user-select: none;
  gap: calc(var(--index) * 0.5);
}
/* #reviewsTrack {
  padding-right: calc(var(--index) * 12);
  display: flex;
  flex-direction: row-reverse;
  user-select: none;
  gap: calc(var(--index) * 0.5);
} */
.imageExamples {
  border-radius: 10px;
  width: calc(var(--index) * 14);
  height: calc(var(--index) * 19);
  object-fit: cover;
  object-position: 100% center;
}
.sectionText {
  padding-top: calc(var(--index) * 1);
  display: flex;
  justify-content: center;
}
